<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">CODER NOTES</h1>
  <section
    class="m-3 w-100 d-flex flex-column justify-content-center align-items-center"
  >
    WELCOME!!!
  </section>
</main>