<main class="d-flex w-100 flex-grow-1">
  <section class="d-flex flex-column align-items-center w-100">
    <h1 class="bg-success-subtle p-2 text-center text-success w-100">LOGIN FORM</h1>
    <form class="d-flex flex-column w-25 m-3">
      <input
        class="m-2 p-2 text-center"
        type="email"
        name="email"
        id="email"
        placeholder="EMAIL"
      />
      <input
        class="m-2 p-2 text-center"
        type="password"
        name="password"
        id="password"
        placeholder="PASSWORD"
      />
      <input
        class="m-2 p-2 text-center btn btn-success"
        type="button"
        id="login"
        value="LOGIN!"
      />
    </form>
  </section>
</main>