<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">ALL NOTES
    (later my notes)</h1>
  <section
    class="m-3 w-100 d-flex flex-column justify-content-center align-items-center"
  >
    {{#each notes}}
      <a
        href="/notes/{{this.id}}"
        class="p-3 m-3 w-50 text-light btn btn-success"
      >
        {{this.id}}
        -
        {{this.text}}
      </a>
    {{/each}}
  </section>
</main>